{{/*
  This Source Code Form is subject to the terms of the Mozilla Public License,
  v. 2.0. If a copy of the MPL was not distributed with this file, You can
  obtain one at https://mozilla.org/MPL/2.0/.
*/}}
{{ define "main" }}
  {{ .Content }}
  {{ if and .IsSection .Site.Params.termsInSection }}
    {{- range $taxonomy, $pages := .Site.Taxonomies }}
      {{ partial "list-all-terms.html" (dict "context" $ "term" $taxonomy) }}
      <hr>
    {{ end -}}
  {{- end }}
  <h2>{{ partial "pluralize.html" (dict "count" (len .Pages) "term" "item") }}</h2>
  {{ partial "list-section.html" (dict "section" .Section ) }}
{{ end }}