{{/*
  This Source Code Form is subject to the terms of the Mozilla Public License,
  v. 2.0. If a copy of the MPL was not distributed with this file, You can
  obtain one at https://mozilla.org/MPL/2.0/.
*/}}
<header>
  <h1 id="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
  {{ if not (or (eq .Page.Kind "404") .IsHome) -}}
    {{ partial "list-content-taxonomies.html" (dict "taxonomy" "categories" "context" .) }}
    <h1 id="content-title">{{ .LinkTitle | markdownify }}</h1>
  {{- end }}
  {{ if .IsPage -}}
    <p>Published on {{ .Date | dateFormat ":date_medium" }} • {{ partial "pluralize.html" (dict "count" .ReadingTime "term" "min") }} read</p>
    {{ partial "list-content-taxonomies.html" (dict "taxonomy" "tags" "context" .)}}
    {{- if default (gt .WordCount 400) .Params.toc -}}
      {{- with .TableOfContents -}}
        {{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
          <p>On this Page</p>
          {{ . }}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end }}
  {{ partial "menu.html" . }}
</header>