{{/*
  This Source Code Form is subject to the terms of the Mozilla Public License,
  v. 2.0. If a copy of the MPL was not distributed with this file, You can
  obtain one at https://mozilla.org/MPL/2.0/.
*/}}
<header>
  <h1 id="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
  {{ if not (or (eq .Page.Kind "404") .IsHome) -}}
    {{ partial "list-content-taxonomies" (dict "taxonomy" "categories" "context" $) }}
    <h1 id="content-title">{{ .LinkTitle | markdownify }}</h1>
  {{- end }}
  {{ if .IsPage -}}
    <p>Published on {{ .Date | dateFormat ":date_medium" }}</p>
    {{ partial "list-content-taxonomies" (dict "taxonomy" "tags" "context" $)}}
    {{- if or (gt .WordCount 400) .Params.toc -}}
      {{- with .TableOfContents -}}
        {{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
          <p>On this Page</p>
          {{ . }}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end }}

  {{- with .Site.Menus.main }}
    <nav>
      <ul>
        {{ range . -}}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end -}}
      </ul>
    </nav>
  {{ end -}}
</header>