{{/*
  This Source Code Form is subject to the terms of the Mozilla Public License,
  v. 2.0. If a copy of the MPL was not distributed with this file, You can
  obtain one at https://mozilla.org/MPL/2.0/.
*/}}
{{- $items := .page.Pages.ByPublishDate.Reverse -}}
{{- $itemCount := len $items -}}
{{- if .truncated }}{{ $itemCount = site.Params.maxTruncatedPageListItems }}{{ end -}}
<ul>
  {{- range first $itemCount $items }}
    <li>
      {{ if default true site.Params.datesInPageList -}}
        <code><time>{{ .Date | dateFormat "Jan 02, 2006" }}</time></code>&#32;•&#32;
      {{- end -}}
      <a href="{{ partial "page-permalink.html" . }}">{{ .LinkTitle | markdownify }}</a>
    </li>
  {{- end }}
  {{ if gt (len $items) $itemCount -}}
    <li><a href="{{ absURL .page.Section }}">See more {{ replace .page.Section "-" " " }}s...</a></li>
  {{- end }}
</ul>